<<<<<<< HEAD
/* **************************** */
/* BELOW 1344px (Smaller desktops) */
/* **************************** */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/* **************************** */
/* BELOW 1200px (Landscape tablets) */
/* **************************** */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .hero-img {
    width: 100%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
}

/* **************************** */
/* BELOW 992px (Tablets) */
/* **************************** */

@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .hero-btn {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* **************************** */
/* BELOW 768px (Small tablets) */
/* **************************** */

@media (max-width: 48em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid--3-cols {
    grid-template-columns: 1fr 1fr;
  }

  .grid--4-cols {
    grid-template-columns: 1fr 1fr;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .hero-img {
    width: 70%;
  }

  .hero-btn {
    flex-direction: column;
  }
}

/* **************************** */
/* BELOW 576px (Phones) */
/* **************************** */

@media (max-width: 36em) {
  html {
    font-size: 45%;
  }

  .container {
    padding: 0 2.4rem;
  }

  .grid {
    row-gap: 4.8rem;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .hero-img {
    width: 80%;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
  }
}

/* **************************** */
/* BELOW 400px (Small phones) */
/* **************************** */

@media (max-width: 25em) {
  .heading-secondary {
    margin-bottom: 4rem;
  }

  .hero-btn {
    width: 100%;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
=======
/* Responsive query code for max-width 1024px */
@media screen and (max-width: 1024px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 60px);
  }

  .menu-section .menu-list .menu-item .name {
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
  }

  .navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
  }
}

/* Responsive query code for max-width 900px */

@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar:where(#menu-close-button, #menu-open-button) {
    display: block;
    font-size: var(--font-size-l);
  }

  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .navbar #menu-open-button {
    color: var(--white-color);
  }

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background: var(--white-color);
    transition: left 0.2s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-l);
  }

  .hero-section .section-content {
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20 px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-section .hero-details :is(.subtitle, .description),
  .about-section .about-details,
  .contact-section .contact-form {
    max-width: 100%;
  }

  .hero-section .hero-details .buttons {
    justify-content: center;
  }

  .hero-section .hero-image-wrapper {
    max-width: 250px;
    margin-right: 0;
  }

  .about-section .section-content {
    gap: 70px;
    flex-direction: column-reverse;
  }
  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
  }

  .menu-section .menu-list {
    gap: 30px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 30px);
  }

  .menu-section .menu-list .menu-item .menu-image {
    max-width: 200px;
  }

  .gallery-section .gallery-list {
    gap: 30px;
  }

  .gallery-section .gallery-list .gallery-item {
    max-width: calc(100% / 2 - 30px);
  }

  .contact-section .section-content {
    align-items: center;
    flex-direction: column-reverse;
  }
}

/* Responsive query code for max-width 750px */

@media screen and (max-width: 750px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 30px);
  }

  .gallery-section .gallery-list {
    gap: 60px;
  }

  .gallery-section .gallery-list .gallery-item {
    width: calc(100% / 2 - 30px);
  }
}

/* Responsive query code for max-width 640px */
@media screen and (max-width: 640px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item,
  .gallery-section .gallery-list .gallery-item {
    width: 100%;
  }

  .gallery-section .gallery-list .gallery-item,
  .testimonials-section .slide-wrapper {
    margin: 0 0 30px;
  }

  .testimonials-section .swiper-slide-button {
    display: none;
  }

  .footer-section .section-content {
    flex-direction: column;
    gap: 20px;
  }
}

:root {
  --dark-color: #252525;
  --white-color: #fff;
  --secondary-color: #f3961c;
  --primary-color: #3b141c;
  --light-pink-color: #f5e9eb;
  --medium-gray-color: #ccc;

  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.15rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  --site-max-width: 1300px;
}
>>>>>>> 23b4f194ce2cfe028da115f83e690fe5c59e00c7
